.logo {
    font-family: Raleway;
    color: #2196f3;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo .part {
    font-family: Raleway;
    color: #000000;
}
