.skills {
    &-cont {
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    &-cont li {
        margin-right: 30px;
        text-align: center;
    }
    &-cont li:last-child {
        margin-right: 0;
    }
}
.some-skill {
    position: relative;
}
  
.mean-skill {
    position: absolute;
    display: flex;
    height: 70px;
    width: 370px;
    
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
  
    align-items: center;
    justify-content: center;
    bottom: 0;
}